In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#upload crime.csv data file
crime = pd.read_csv('crime.csv', encoding='latin-1')

In [3]:
crime.head()

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,1/1/2006 0:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
1,1/1/2006 0:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186
2,1/1/2006 0:00,4 PALEN CT,2,2A,212,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
3,1/1/2006 0:00,22 BECKFORD CT,6,6C,1443,476 PC PASS FICTICIOUS CHECK,2501,38.506774,-121.426951
4,1/1/2006 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613

In [4]:
crime.dtypes

cdatetime         object
address           object
district           int64
beat              object
grid               int64
crimedescr        object
ucr_ncic_code      int64
latitude         float64
longitude        float64
dtype: object

In [5]:
#convert date to datetime format in column cdatetime
crime['cdatetime'] = pd.to_datetime(crime['cdatetime'])

In [7]:
#task 1 give the average number of characters of the entries in the crimedescr column
average_characters = crime['crimedescr'].str.len().mean()
print(f"Average number of characters of the entries in the crimedescr column: {average_characters}")

Average number of characters of the entries in the crimedescr column: 24.883043248945146

In [12]:
#task 2 Scale the latitude and longitude columnusing the Min-max normalization method
#min-max normalization method
#the value of each feature is scaled to a value between zero and one
def min_max_normalization(x):
    return (x - x.min()) / (x.max() - x.min())
x = crime[['latitude', 'longitude']]
x = min_max_normalization(x)
x

      latitude  longitude
0     0.457386   0.862651
1     0.144437   0.344430
2     0.894448   0.491785
3     0.279809   0.676208
4     0.811458   0.898346
...        ...        ...
7579  0.568910   0.447929
7580  0.405188   0.331809
7581  0.545307   0.466018
7582  0.362859   0.443794
7583  0.169366   0.142700

[7584 rows x 2 columns]

In [11]:
#task 3 Identify the number of crimes that occured in the weekends 
#weekend is saturday and sunday
crime['day_of_week'] = crime['cdatetime'].dt.day_name()
crime['is_weekend'] = np.where(crime['day_of_week'].isin(['Saturday', 'Sunday']), 'Saturday', 'Sunday')
crime['is_weekend'].value_counts()

Sunday      5639
Saturday    1945
Name: is_weekend, dtype: int64